body h2{
    font: Bold 20px sans-serif;
    line-height: unset;
    letter-spacing: 1px;
}

nav a{

    font: Bold 20px sans-serif;
}
nav ul a:hover{
    background-color: #525252;
}
.RECTANGLE-0{
    display: flex;
    height:2100px;
    background:linear-gradient(180deg, #000000 0%,#282828 33%)}
.RECTANGLE-6{
    display: flex;
    height:1000px;
    background:linear-gradient(180deg, #000000 0%,#282828 33%)}
.RECTANGLE-2{
    display: flex;
    height:2060px;
    background:linear-gradient(180deg, #737373 0%,#111111 29%)}
.RECTANGLE-1{
    margin-top: 100px;
    height:1px;
    background:linear-gradient(90deg, #646464 0%,#666666 100%)}

nav{
    background-color: #1f1f1f;
    color: white;
    text-decoration: none;
}
.navbar-toggler{
    background-color: white;
}


.secondframe{

    position: relative;
    padding-top: 50px;
}
.imagesecondframe{
    width: 100%;
}
.menu h1{
    color: white;
    padding-top: 150px;

}
.menu{
    text-align: center;
}

.centered {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}







/* slide_around */

.slide_around_sec{
    max-width: 1000px;
    padding-top: 300px;
    position:relative;
    margin:0 auto;
}
.slide_around_sec img{
    max-width: 500px;

    object-fit: cover;
    image-rendering: high-quality;
}
.roundabout-holder {
    height: 500px;
    margin:0;
    padding:0;
    list-style:none;
}
.roundabout-moveable-item {

    margin:0;
    padding:0;
    cursor: pointer;
    border: 1px solid #000000;
    overflow:hidden;
}
.roundabout-in-focus {
    cursor: auto;
}

.around_next,
.around_prev {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    background: #000000;
    z-index: 300;
    top: 70%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.around_next{
    right:0;
}

.around_prev{
    left:0;
}
.slide_around_sec .slide_around li:not(.roundabout-in-focus) {
    filter: blur(3px);
}
/* end slide_around */

.galer{
    margin-top: 300px;
}

.container-my {
    height: 700px;
    text-align: center;
    padding-top: 5%;
    display: grid;
    list-style-type:none;
}
.container-my ul {
    padding-top: 100px;
    display: grid;
    height:500px;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
}


.container-my h2 {
    font-family: "Book Antiqua";
    text-align: center;
    padding: 100px;
    color: white;
}

.container-my img {
    width: 300px;
    border-radius: 20%;
}

.site-footer
{

    background-color: #151515;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color: #ffffff;
}

.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}


@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width: 767px) {
    .site-footer .container .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .site-footer .container .row .col-md-5,
    .site-footer .container .row .col-md-3,
    .site-footer .container .row .col-md-4 {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .site-footer .container .row .col-md-5 img {
        margin-bottom: 20px;
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons a
{
    display:inline-block;
    margin-bottom:4px
}


.social-icons a.instagram:hover
{
    background-color:#3b5998
}




.thumbs {
    padding-top: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



    > a {

        max-width: 200px;
        height: 200px;
        margin: 20px;
        overflow: hidden;


        img {
            transform: scale(1);
            transition: transform 0.1s ease-in-out;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
        &:hover {
            img {
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container-my > div > img {

        width: 70px !important;
        border-radius: 10% !important;
    }
    .logo {
        width: 20%;

    }
    .slide_around_sec{
        max-width:100px;
        padding-top: 100px;
        position:relative;
        margin:0 auto;
    }
    .slide_around_sec img{
        max-width: 300px;

        object-fit: cover;
        image-rendering: high-quality;
    }
    .RECTANGLE-0{
        max-height: 1500px;
    }
    .RECTANGLE-6{
        height: 1500px;
    }
    .RECTANGLE-2{
        height: 2800px;
    }
    .thumbs a img{
        width: 120px;
        height: 120px;
    }
    .container-my h2 {
        padding: 10px;
        font-size: 10px;
    }
    .container-my ul {
        padding-right: 25px;
        display: grid;
        height:300px;
        grid-template-rows: auto;
        grid-template-columns: 50% 50% ;
        list-style: none;
    }
    .around_next,
    .around_prev {
        display: none;
    }
    .container-my img {
       width: 150px;
    }
}